.cards {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -150px;
  z-index: 2;
  transition: 0.7s ease-in all;
}

.cards.hidden{
  transform: translateY(80%);
  transition: 0.7s ease-in all;
}

.cards__item{
  transition: 0.2s all;
  cursor: pointer;
}

.cards__item img {
  width: 300px;
}

.cards__item:not(:first-child) {
  margin-left: -100px;
}

.card-1 {
  transform: translate(0, 45px) rotate(-12deg);
}

.card-2 {
  transform: translate(0, 10px) rotate(-6deg);
}

.card-3 {
  transform: rotate(0);
}

.card-4 {
  transform: translate(0, 10px) rotate(6deg);
}

.card-5 {
  transform: translate(0, 45px) rotate(12deg);
}


.cards__item:hover{
  transform: translateY(-140px);
  z-index: 1;
  transition: 0.2s all;
  scale: 1.2;
}

.cards__item.selected{
  transform: translate(0%, -80%) rotate(0);
  scale: 1.8;
  opacity: 0;
}

.loading{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  bottom: 80px;
  right: 50%;
  transform: translate(50%, 50%);
}

.loader {
  width: 60px;
  height: 60px;
  margin-left: 25px;
  border: 5px solid;
  border-color: #db1b0a transparent;
  border-radius: 100%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 300;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 