.cards {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -150px;
  z-index: 2;
}

.cards__item{
  transition: 0.2s all;
  cursor: pointer;
}

.cards__item img {
  width: 300px;
}

.cards__item:not(:first-child) {
  margin-left: -100px;
}

.card-1 {
  transform: translate(0, 45px) rotate(-12deg);
}

.card-2 {
  transform: translate(0, 10px) rotate(-6deg);
}

.card-3 {
  transform: rotate(0);
}

.card-4 {
  transform: translate(0, 10px) rotate(6deg);
}

.card-5 {
  transform: translate(0, 45px) rotate(12deg);
}


.cards__item:hover{
  transform: translateY(-120px);
  transition: 0.2s all;
  scale: 1.2;
}

.cards__item.selected{
  transform: translate(0%, -80%) rotate(0);
  scale: 1.8;
  opacity: 0;
}